<div class="container">
<div class="single_post">
  <div class="single_post_created"><%= @post.created_at.strftime("%b %d, %Y") %></div>
  <div class="title"><%=@post.title%></div>
  <div class="post"><%=@post.content%></div>
  <div class="single_post_author">User: <%=@post.author.upcase%></div>
  <p> <div class="tags_single">
        <% @post.tags.each do |tag| %>
          <a href="#"><span class="tag"><%= tag.tag_name %></span></a>
        <% end %>
      </div>




<div class="modify_buttons">
  <form action='/destroy/<%=@post.id%>' method='post'>
  <input class="single_post_delete" type='submit' value='Delete'>
  </form>  

  <form action='/edit/<%=@post.id%>' method='post'>
  <input class="single_post_edit" type='submit' value='Edit'>
  </form>  
</div>
  <br>
  <br>
<!--   <p><a href="/posts/edit">Edit this post</a></p>
 -->  <!-- <p><a href="/">Index Page</p> -->
</div>
</div>
